docker-build:
  image: registry.gitlab.com/bitspur/rock8s/images/podman:0.0.1
  stage: build
  before_script:
    - podman login -u "$CI_REGISTRY_USER" -p "$CI_REGISTRY_PASSWORD" $CI_REGISTRY
  script:
    - |
      TAG=latest
      if [[ "$CI_COMMIT_BRANCH" != "$CI_DEFAULT_BRANCH" ]]; then
        TAG=$CI_COMMIT_REF_SLUG
        ARGS=main
      fi
    - make -s build ARGS="$ARGS" TAG="$TAG"
    - make -s push ARGS="$ARGS" TAG="$TAG"
  when: manual
